* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.wrapper {
    display: flex;
    margin: auto;
}

.user {
    width: 500px;
    display: flex;
    gap: 30px;
    margin: auto;
    text-transform: capitalize;
    background: rgb(179, 140, 140);
}

.box {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}